/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "changeling-neo-inline";
    src: url(https://use.typekit.net/af/eda932/000000000000000000017215/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/eda932/000000000000000000017215/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/eda932/000000000000000000017215/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

.about {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.about__member {
    background: linear-gradient(to bottom,#47015B ,#000000 44%);
    padding: 10px;
}

.about__title {
    font-family: "changeling-neo-inline";
    font-size: 24px;
    margin-bottom: 20px;
}

.about__real-name {
    margin-bottom: 10px;
}

.about__role {
    margin-bottom: 20px;
}

.about__description {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 14px;
}

.about__description p {
    margin-bottom: 8px;
}

.about__image {
    height: 200px;
}