body {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
}

/* NAVIGATION */
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: purple;
    color: white;
}

nav .logo {
    height: 300px;
    width: 80%;
    background: url(./../images/logo/p_PGlogo.png) center/contain no-repeat;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
}

main {
    margin-left: 300px;
    position: relative;
}

/* FOOTER */
.site-footer {
    color: #727272;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    clear: both;
}

.social-media {
    text-align: center;
    vertical-align: top;
    margin: 0 auto 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media a {
    margin-right: 20px;
    display: inline-block;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media__untappd,
.social-media__facebook,
.social-media__twitter,
.social-media__instagram {
    height: 24px;
    width: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 4px;
}