main {
    color: white;
    text-align: center;
}

.content {
    position: relative;
    padding: 0 20px;
}

.hero__video {
    width: 100%;
}

.page__title {
    margin: 0 auto 30px;
}

.page__title ul,
.page__title ul li {
    margin: 0;
    padding: 0;
}

/* Credit: Online Tutorials https://youtu.be/0JEzysYI2xk for Tubelight effect*/
.page__title ul li {
    list-style: none;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 15px;
    color: #5382EF;
    text-shadow: 0 0 10px #BACDFE, 0 0 10px #BACDFE;
    animation: animate 2s 6 linear;
    display: inline-block;
}

@media (max-width: 500px) {
    .page__title ul li {
        font-size: 3em;
    }
}

@keyframes animate {
    0% {
        color: #9db2e4;
        text-shadow: none;
    }
    18% {
        color: #9db2e4;
        text-shadow: none;
    }
    20% {
        color: #5382EF;
        text-shadow: 0 0 10px #BACDFE, 0 0 10px #BACDFE;
    }
    30% {
        color: #9db2e4;
        text-shadow: none;
    }
    35% {
        color: #5382EF;
        text-shadow: 0 0 10px #BACDFE, 0 0 10px #BACDFE;
    }
    70% {
        color: #9db2e4;
        text-shadow: none;
    }
    85% {
        color: #5382EF;
        text-shadow: 0 0 10px #BACDFE, 0 0 10px #BACDFE;
    }
    90% {
        color: #9db2e4;
        text-shadow: none;
    }
    100% {
        color: #5382EF;
        text-shadow: 0 0 10px #BACDFE, 0 0 10px #BACDFE;
    }
}
.page__title ul li:nth-child(1) {
    animation-delay: 0.2s;
}
.page__title ul li:nth-child(2) {
    animation-delay: 0.4s;
}
.page__title ul li:nth-child(3) {
    animation-delay: 0.6s;
}
.page__title ul li:nth-child(4) {
    animation-delay: 0.8s;
}
.page__title ul li:nth-child(5) {
    animation-delay: 1.0s;
}
.page__title ul li:nth-child(6) {
    animation-delay: 1.2s;
}
.page__title ul li:nth-child(7) {
    animation-delay: 1.4s;
}
.page__title ul li:nth-child(8) {
    animation-delay: 1.6s;
}
.page__title ul li:nth-child(7) {
    animation-delay: 1.8s;
}
.page__title ul li:nth-child(8) {
    animation-delay: 2.0s;
}
.page__title ul li:nth-child(9) {
    animation-delay: 2.2s;
}
.page__title ul li:nth-child(10) {
    animation-delay: 2.4s;
}
.page__title ul li:nth-child(11) {
    animation-delay: 2.6s;
}

.videos__header {
    text-align: left;
    border-bottom: #BACDFE solid 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 16px;
}

@media (max-width: 500px) {
    .videos__header {
        font-size: 12px;
    }
}

.videos__videos-row {
    margin-bottom: 50px;
    text-align: left;
}

@media (max-width: 978px) {
    .videos__videos-row {
        text-align: center;
    }
}

/* VIDEOS */
.videos__video-container {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .videos__video-container {
        width: 250px;
    }
}

.videos-page__video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    /* margin: 30px; */
}

.videos-page__video iframe{
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.loading-container {
    position: relative;
}

.loading {
    display: none;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 6px solid #5382EF;
    border-radius: 50%;
    border-top-color:  #BACDFE;
    border-left-color:  #BACDFE;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
